<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- 
	Settings for this  add-on/plugin/script/service???
	Reference: http://kodi.wiki/view/Add-on_settings 
-->
<settings>
	<category label="30001">
		<description>Einstellungen</description>
		<!--Intervalle-->
		<setting type="sep" />
		<setting label="30032" type="lsep" />
		<setting type="sep" />
		<setting id="Tankvol" type="number" label="30004" default="63" />
		<setting type="sep" />
	</category>
</settings>